$white: white;
$main-color: #A39594; // #edbb3d;
$secondary-color: lighten(#448FA3, 30%) ;
$support-color: #423E37;
$text-color: $support-color; // $support-color;

// Xanthous #e3b23c
// Eggshell #EDEBD7
