$white: white;
$main-color: #A39594; // #edbb3d;
$secondary-color: #3A98B9; // #e3b23c ;
$support-color: #423E37;
$text-color: $support-color; // $support-color;

// Xanthous #e3b23c
// Eggshell #EDEBD7
