@use "variables";

footer {
	font-size: medium;
	background-color: variables.$support-color;
	color: variables.$white;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	div.moduletable {
		margin: 0 20px;

		ul.nav {
			list-style: none;
			padding-inline-start: 0;
			text-align: left;
		}
	}

	p {
		display: flex;
		flex-wrap: wrap;

		.together {
			flex-basis: 100%;

			&:first-child {
				margin-bottom: 5px;
			}
		}

		.nomobile {
			display: none;
		}
	}
}
